

header{
    .img-logo{
        // Estilos para la imagen aquí
        width: 100px; // Ejemplo: establecer el ancho a 100px
        height: auto; // Ejemplo: mantener la proporción original de la imagen
        border-radius: 5px; // Ejemplo: bordes redondeados
        // Agrega cualquier otro estilo que desees
    }
}