.navbar {
  background-color:  #015ab3;
}

// Estilos para la imagen del logo
.img-logo {
  max-width: 100px; // Ajusta el tamaño según tus necesidades
  margin-right: 20px; // Agrega margen a la derecha de la imagen
}

// Alinea el contenido de la navbar a la derecha
.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #015ab3;
}

.nav-link.active {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #015ab3;
}

// Alinea el texto del dropdown a la izquierda
.dropdown-menu a {
  text-align: left;
}